body{
	background-color: red;
}

h2{
	color:blue;
}

h3{
	color:orange;
}

h1{
	color:pink;
}

p{
	color:yellow;
	font-size: 20px;
}

li{
	list-style-type: none;
	display: inline;
	width: 960px;
	
}

a{
	width: 960px;
	
}

nav{
	width: 960px;
	margin-left: 50%;
	margin-right: 50%;